[persistent_connection]
ssh_type = paramiko

[paramiko_connection]
local_for_keys=False
host_key_checking=False
remote_port=22
ansible_host_key_checking=False

[defaults]
connection_timeout = 60
timeout = 60